:root {
  --primary: #2c3e50;
  --secondary: #34495e;
  --accent: #3498db;
  --warning: #f1c40f;
  --danger: #e74c3c;
  --success: #2ecc71;
  --light-bg: #f5f6fa;
}
.navbar {
  background: var(--primary);
}

.sidebar {
  background: var(--secondary);
  min-height: calc(100vh - 56px);
  color: white;
  padding-top: 20px;
  padding-left: 0px;
}

.sidebar .nav-link {
  color: rgba(255, 255, 255, 0.8);
  padding: 12px 20px;
  margin: 0px 0;
  border-radius: 5px;
  transition: all 0.3s;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  background: var(--primary);
  color: white;
}

.sidebar .nav-link i {
  width: 25px;
}

/* Ajustes de estilo para barra lateral em telas pequenas */

@media all and (min-width: 0px) and (max-width: 991px) {
  .navbar-nav {
    background-color: var(--primary);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav-link {
    color: #fff !important;
    padding-left: 20px;
  }
  .container-fluid{
    padding-right: 0px;
    margin-left: 0px;
    justify-content: center;
  }
    .main-content{
    width: 100%;  
  }
}
@media all and (min-width: 992px) and (max-width: 4200px){
  #navbarNav{
    display: none !important;
    width: 100%;
  }
  .main-content{
    width: 88%;  
  }
    .container-fluid{
    padding-right: 0px;
    margin-left: 0px;
    justify-content: center;
    width: 100%;
  }

}